[submodule "HPL2/external/abseil-cpp"]
	path = HPL2/external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "HPL2/external/bx"]
	path = HPL2/external/bx
	url = https://github.com/bkaradzic/bx
[submodule "HPL2/external/bgfx"]
	path = HPL2/external/bgfx
	url = https://github.com/bkaradzic/bgfx/
[submodule "HPL2/external/bimg"]
	path = HPL2/external/bimg
	url = https://github.com/bkaradzic/bimg/
